@page "/CreateAccount.html"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Create Account</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="phone_screen col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="phone_header col-11 col-sm-11 col-md-11 col-lg-11">
                    <div class="phone_status">
                        <div class="phone_status_bar"></div>
                    </div>
                </div>
                <div class="create_acc_text col-11 col-sm-11 col-md-11 col-lg-11">
                    <p>Create New Account</p>
                </div>
                <div class="create_acc_form col-11 col-sm-11 col-md-11 col-lg-11">
                    <div class="name_text_field">
                        <input type="text" class="name_text_bg name_text_bg_rectangle create_name_text" placeholder="Name">
                    </div>
                    <div class="email_text_field">
                        <input type="text" class="email_text_bg_rectangle create_email_text" placeholder="Email">
                    </div>
                    <div class="password_text_field">
                        <input type="text" class="password_text_bg_rectangle create_password_text" placeholder="Password">
                    </div>
                    <div class="select_category_field">
                        <select class="select_category_bg_rectangle create_select_category">
                            <option value="">Select Category</option>
                        </select>
                    </div>
                    <div class="create_account_button_field col-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="Verification.html" class="account_button">
                            <div class="create_account_signup_text">
                                <p>SIGN UP</p>
                            </div>
                            <div class="account_button_graph_group">
                                <div class="button_half_round_black">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="terms_conditions_bg">
                        <div class="terms_conditions_field">
                            <a href="#" class="terms_conditions_text">
                                By signing up you agree to our terms and conditions
                            </a>
                        </div>
                    </div>
                    <div class="already_signup_bg">
                        <div class="already_signup_muted_field">
                            <div class="already_signup_muted_text">
                                <p>Already a member?</p>
                            </div>
                        </div>
                        <a href="Login.html" class="already_signup_signin_text">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>