@page "/Locations.html"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Location</title>
</head>
<body>
    <div class="container-custom">
        <div class="justify-content-center">
            <div class="phone_screen col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="map_sf_location_bg"></div>
                <div class="location_search_navbar">
                    <div class="location_search_bg">
                        <a href="MainPage.html" class="location_back_icon_position"></a>
                        <div class="location_travel_icon_position"></div>
                        <div class="location_first_place_position">
                            <p>Your location</p>
                        </div>
                        <div class="location_line_one"></div>
                        <a href="ChoosePath.html" class="location_line_two"></a>
                        <a href="#" class="location_three_dots_position"></a>
                        <a href="#" class="location_swap_icon_position"></a>
                    </div>
                </div>
                <div class="left_icons_area">
                    <div class="left_icons_bg">
                        <a href="#" class="find_way_icon_field">
                            <div class="find_way_icon_subtract">
                                <i class="bi bi-geo-alt"></i>
                            </div>
                        </a>
                    </div>
                    <div class="left_icons_bg">
                        <a href="LatestPlaces.html" class="latest_place_icon_field">
                            <div class="latest_place_icon"></div>
                        </a>
                    </div>
                    <div class="left_icons_bg">
                        <a href="#" class="saved_place_icon_field">
                            <div class="saved_place_icon"></div>
                        </a>
                    </div>
                    <div class="left_icons_bg">
                        <a href="#" class="add_place_icon_field">
                            <div class="add_place_icon"></div>
                        </a>
                    </div>

                    <div class="left_icons_bg">
                        <a href="#" class="truck_icon_field">
                            <div class="truck_icon"></div>
                        </a>
                    </div>
                </div>
                <a href="#" class="location_icon_position"></a>
                <a href="#" class="location_gps_button_position"></a>
            </div>
        </div>
    </div>
</body>
</html>