@page "/Verification.html"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Verification</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="phone_screen col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="phone_header col-11 col-sm-11 col-md-11 col-lg-11">
                    <div class="phone_status">
                        <div class="phone_status_bar"></div>
                    </div>
                    <div class="phone_header_text_field col-5 col-sm-7 col-md-6 col-lg-8">
                        <div class="phone_header_text">
                            <p>Verification Code</p>
                        </div>
                    </div>
                </div>
                <div class="sms_text_field col-11 col-sm-11 col-md-11 col-lg-11">
                    <div class="sms_text_send">
                        <p>
                            We have sent you an SMS with a code
                            to the number
                        </p>
                    </div>
                    <div class="sms_text_number">
                        +7 *** *** ** **
                    </div>
                </div>
                <div class="verification_number_field">
                    <input type="text" class="verification_white_oval_1 verification_text">
                    <input type="text" class="verification_black_oval_2 verification_text">
                    <input type="text" class="verification_black_oval_3 verification_text">
                    <input type="text" class="verification_black_oval_4 verification_text">
                </div>
                <div class="verify_button_field col-11 col-sm-11 col-md-11 col-lg-11">
                    <a href="MainPage.html" class="account_button">
                        <div class="verify_button_text">
                            <p>VERIFY</p>
                        </div>
                        <div class="account_button_graph_group">
                            <div class="button_half_round_black">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="resent_code_text_field">
                    <div class="resent_code_text">
                        <p>Resend a new code</p>
                    </div>
                    <div class="available_text_field">
                        <div class="available_text">
                            <p>Available in 10 seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>