@inherits LayoutComponentBase
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="TrackBlazorMAUI.styles.css" rel="stylesheet" />

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
			@Body
	</main>
</div>
